# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
/.idea
/.jpb
*.iml
out
gen
target
*.exe
*.sum
/python/pic/**
wasm_exec.js
*.lock
node_modules
dist
add-config.toml
proto_std
.vscode
gradle
/tools/server/local.toml
secret.txt
/tools/server/config.toml
/build/tmp
/build/k8s/app/deploy
logs