# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
/.idea
*.iml
out
gen
target
*.exe
*.sum
/python/pic/**
wasm_exec.js
*.lock
node_modules
dist
add-config.toml
/server/proto