[submodule "thirdparty/cherry"]
	path = thirdparty/cherry
	url = https://github.com/hopeio/cherry
	branch = main
[submodule "thirdparty/pick"]
	path = thirdparty/pick
	url = https://github.com/hopeio/pick
	branch = main
[submodule "thirdparty/diamond"]
	path = thirdparty/diamond
	url = https://github.com/hopeio/diamond
	branch = main
[submodule "awesome"]
	path = awesome
	url = https://github.com/liov/awesome
	branch = main
[submodule "thirdparty/context"]
	path = thirdparty/context
	url = https://github.com/hopeio/context
	branch = main
[submodule "thirdparty/initialize"]
	path = thirdparty/initialize
	url = https://github.com/hopeio/initialize
	branch = main
[submodule "thirdparty/protobuf"]
	path = thirdparty/protobuf
	url = https://github.com/hopeio/protobuf
	branch = main
[submodule "thirdparty/utils"]
	path = thirdparty/utils
	url = https://github.com/hopeio/utils
	branch = main
[submodule "thirdparty/deploy"]
	path = thirdparty/deploy
	url = https://github.com/hopeio/deploy
	branch = main
[submodule "thirdparty/example"]
	path = thirdparty/example
	url = https://github.com/hopeio/example
	branch = main
[submodule "thirdparty/wopan-sdk-go"]
	path = thirdparty/wopan-sdk-go
	url = https://github.com/liov/wopan-sdk-go
	branch = main
[submodule "thirdparty/scaffold"]
	path = thirdparty/scaffold
	url = https://github.com/hopeio/scaffold
	branch = main
[submodule "thirdparty/applib"]
	path = thirdparty/applib
	url = https://github.com/hopeio/applib
	branch = main
