[submodule "thirdparty/cherry"]
	path = thirdparty/cherry
	url = https://github.com/hopeio/cherry
	branch = main
[submodule "thirdparty/pick"]
	path = thirdparty/pick
	url = https://github.com/hopeio/pick
	branch = master
[submodule "thirdparty/diamond"]
	path = thirdparty/diamond
	url = https://github.com/hopeio/diamond
	branch = main
[submodule "awesome"]
	path = awesome
	url = https://github.com/liov/awesome
	branch = main
[submodule "deploy"]
	path = deploy
	url = https://github.com/hopeio/deploy
	branch = main
