<!DOCTYPE html>
<html>
<head>
    <title>deploy</title>
    <style>
        input,select {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 200px;
        }
    </style>
    <script type="text/javascript">
        window.onload=function(){
            let project = document.getElementsByName("project")[0];
            callFunc(document.dep.project.value)
        }
        const commit = function () {
            console.log("开始")
            let o = {};
            o.project = document.dep.project.value;
            o.env = document.dep.env.value;
            o.flow = document.dep.flow.value;
            o.branch = document.dep.branch.value;
            let url = window.location.href + '/deploy'
            fetch(url, {
                method: 'post', body: JSON.stringify(o), headers: {
                    "Content-Type": "application/json"
                }
            }).then(res => {
                return res.text();
            }).then(text => {
                alert(text)
            })

        };
        const callFunc = function (val) {
            let url = window.location.href + '/project/' + val
            fetch(url, {
                method: 'get'
            }).then(res => {
                return res.json();
            }).then(json => {
                let branches = document.getElementsByName("branch")[0];
                while (branches.firstChild) {
                    branches.removeChild(branches.firstChild);
                }
                for (let val of json.data) {
                    let op=document.createElement("option");
                    let value = val.substring(9)
                    op.setAttribute("label",value);
                    op.setAttribute("value",value);
                    branches.appendChild(op);
                }
            })
        };
    </script>
</head>
<body>
<h1>Deploy</h1>
{{ yield }}
</body>
</html>