aiofiles==0.8.0
aiohttp==3.8.1
beautifulsoup4==4.11.1
face_recognition==1.3.0
flask==2.1.3
lxml==4.7.1
numpy==1.22.0
paddleocr==2.3.0.2
Pillow==9.2.0
requests==2.26.0
setuptools==58.0.4
taichi==1.0.3
