[package]
name = "rust"
version = "0.1.0"
authors = ["liov <liov@maizuo.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["staticlib", "cdylib"]

[dependencies]
