# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
v2/.gradle
v2/gradle
v2/gradlew
v2/gradlew.bat