<form action="deploy" method="post" name="dep">
    <label>
        项目：
        <select  name="project" oninput="callFunc(this.value)">
            {{range .Projects}}
                <option value="{{.}}">{{.}}</option>
            {{end}}
        </select>
    </label>

    <br>
    <label>
        环境：
        <select name="env">
            <option value="dev">dev</option>
            <option value="stage">stage</option>
            <option value="prod">prod</option>
        </select>
    </label>

    <br>
    <label>
        flow：
        <select name="flow">
            <option value="all">all</option>
            <option value="svc">svc</option>
            <option value="ing">ing</option>
            <option value="dep">dep</option>
            <option value="build">build</option>
            <option value="push">push</option>
        </select>
    </label>


    <br>
    <label>
        分支：
        <select name="branch"></select>
    </label>
    <br>
    <label>
        版本：
        <input type="text" name="version">
        例如：1.1.0
    </label>
    <br>
    <button type="button" onclick="commit()">提交</button>
</form>
